* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    
}

.container .slid {
    position: relative;
    width: 20%;
    height: 100%;
    min-width: calc(100vw / 7);
    transition: min-width 0.5s ease-in-out;
    animation: drop 2s calc(var(--i) * 0.2s);
}


.title {
color: rgb(253, 253, 253);
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in-out 0.5s;
}

.slid:hover img {
    transform: scale(1.5) rotate(3deg);
}

.container .slid:hover {
    min-width: calc(100vw / 5);
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    
}
